
.item {
    min-width: 200px;
    height: 100px;
    background-color: beige;
    list-style: none;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    gap: 30px;
    box-shadow: 2px 6px 30px 0px rgba(0, 0, 0, 0.10);
    animation: rotateAvatarMinus 5s linear;
}

.avatar {
    object-fit: contain;
    min-width: 30px;
    min-height: auto;
    animation: rotateAvatarMinus 3s linear;
}

.item:hover .avatar {
      animation: rotateAvatar 3s linear;
     
}
.item:hover,
.item.focus {
    background-color: rgb(228, 228, 161);
    animation: rotateAvatar 5s linear;
    animation-fill-mode: both;
    transition: all ;
}
.status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}

.online {
    background-color: green;
}
.name {
    font-size: 30px;
    font-weight: 700;
}

@keyframes rotateAvatar {

   
   0%
    {
        transform: rotate(0deg);
    }

       
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotateAvatarMinus {


    0% {
        transform: rotate(-360deg);
    }


    100% {
        transform: rotate(0deg);
    }
}

